<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <title>Home - Shopme Admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a class="navbar-brand" th:href="@{/}">
                <img width="100px" th:src="@{/images/mainLogo.png}"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">사용자</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories}">카테고리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/brands}">브랜드</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">제품</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customers}">고객</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shopping}">쇼핑</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders}">주문</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/report}">판매 보고서</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/articles}">계약</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/menus}">메뉴</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/settings}">설정</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div>
        <h2>사용자 관리</h2>
        <a th:href="@{/users/new}">새 사용자 생성</a>
    </div>
    <div th:if="${message != null}" class="alert alert-success text-center" th:text="${message}">
    </div>
    <div>
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th>사용자 ID</th>
                <th>사진</th>
                <th>이메일</th>
                <th>이름</th>
                <th>성</th>
                <th>역할</th>
                <th>활성화됨</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${users}" th:object="${user}">
                <td th:text="*{id}"></td>
                <td><i class="fas fa-portrait fa-3x icon-silver"></i></td>
                <td th:text="*{email}"></td>
                <td th:text="*{lastName}"></td>
                <td th:text="*{firstName}"></td>
                <td th:text="*{roles}"></td>
                <td>
                    <a th:classappend="${user.enabled == true ? 'icon-green' : 'icon-gray'}"
                       class="fas fa-check-circle fa-2x" href=""></a>
                </td>
                <td><a class="fas fa-edit fa-2x icon-green" href=""></a>
                    &nbsp;
                    <a class="fas fa-trash fa-2x icon-dark" href=""></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <p>Shopme Control Panel - Copyright &copy; Shopme</p>
    </div>
</div>
</body>
</html>